

.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
}


header {
  background-color: rgb(171, 183, 108);
  position: fixed;
  height: 160px;
  width: 100%;
  text-align: center;
  margin: -10px 0px 0px 0px;

}
img {
  max-width: 90%

}

#logo {
  position:relative;
  background-color: #0F6753;
  height: 130px;
  width: 40%;
  border: 5px solid #473A6C;
  border-radius: 50%;
  text-align: center;
  margin: 20px auto;
  z-index: 100;
}

.main {
  margin: 150px;
  height: 1000px;

}

#footer {
  background-color: rgb(171, 183, 108);
  position:fixed;
  width:100%;
  bottom:0;
  height:50px;
  text-align: left;
  display: inline;
}
.icons {
  text-align: right;
  margin-bottom: 20px;
}

.seat-chart {
  width: 90%;
  margin: 0 auto;
}

.available {
  background-color: green;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
}

.reserved {
  background-color: red;
  width: 24%;
  margin: auto;
  min-height: 100px;
  display: inline-block;
}
