
.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
}


header {

  background-color: rgb(171, 183, 108);
  position: fixed;
  height: 140px;
  width: 100%;
  text-align: center;
  margin: -10px 0px 0px 0px;

}


#logo {
  position:relative;
  background-color: #0F6753;
  height: 80%;
  width: 40%;
  border: 5px solid #473A6C;
  border-radius: 20%;
  text-align: center;
  margin: 20px auto;
  z-index: 100;
}
#logo > img {
  margin-top: 7px;
  max-width: 90%;
  height: 79%;

}
.main {
  margin-top: 170px;

}



div{
  border-radius: 10%;
}

.seat-chart {
/*  position: absolute;*/
  width: 90%;
  margin: 0 auto;
  margin-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 5%;
 

}
#stage {
  margin: 0% 23% 10% 23%;
  width:50%;
  height: auto;
  display:inline-block;
  border-radius: 5%;
  background-color: black;
  color:white;
  text-align: center;
  vertical-align: middle;
  font-size: 300%;
  padding: 2% 2% 2% 2%;
}


.available {
  background-color: green;
  width: 15%;
  margin: 3px 0px 3px 0px;
  min-height: 125px;
  display: inline-block;
}


.reserved {
  background-color: red;
  width: 15%;
  margin: 3px 0px 3px 0px;
  min-height: 125px;
  display: inline-block;
}

fieldset {
  padding-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  border-top: 2px solid #d9d9d9;
}

legend {
  border:none;
  font-size: 100%;
  font-weight: bold;
}

input {
  border-radius: 5%;
  border: 2px solid #d9d9d9;
}

#footer {
  background-color: rgb(171, 183, 108);
  position:relative;
  width:100%;
  bottom:0;
  height:75px;
  text-align: centers;
  display: inline-block;
  padding: 2%;
  -bottom:;
}

.footnote {
  display: inline-block;

}

.icons {
  text-align: right;
  z-index: 1;
  margin-top: -28px;

}


@media(max-width:990px){
  .available {
    margin: 2px 0px 2px 0px;
    min-height: 100px;
  }

  .reserved {
    margin: 2px 0px 2px 0px;
    min-height: 100px;
  }
}



@media (max-width: 650px) {
  #stage{
    font-size: 200%;
  }
  .available {
    margin: 2px 0px 2px 0px;
    min-height: 80px;
  }

  .reserved {
    margin: 2px 0px 2px 0px;
    min-height: 80px;
  }


}


@media (max-width: 490px) {
  #stage{
    font-size: 150%;
  }
  .available {
    margin: 2px 0px 2px 0px;
    min-height: 60px;
  }

  .reserved {
    margin: 2px 0px 2px 0px;
    min-height: 60px;
  }


}

@media (max-width: 380px) {
  #stage {
    font-size: 100%;
  }
  .available {
    margin: 1px 0px 1px 0px ;
    min-height: 50px;
  }

  .reserved {
    margin: 1px 0px 1px 0px;
    min-height: 50px;
  }



}